<p>My button

<a href="https://bloomzeye.github.io/" target="_blank"><img src="/images/siteButtons/bloomzeyeSiteButtonAnimated.gif" alt="Bloomzye's site button"></a>

<p>how to add site button:
<ol>
    <li><b>Rigt-click</b> and "save image as" to your device</li>
    <li><b>Copy</b> the code below</li>
    {% highlight html %}
    <a href="https://bloomzeye.github.io/" target="_blank">
    <img src="" alt="Bloomzye's site button"></a>
    {% endhighlight %}
    <li><b>Paste</b> the code wherever you want it on your site</li>
    <li>And you're done!</li>
</ol>

<p><b>NOTE:</b> Your "img scr="" (image source), will be located in whatever folder you put your images in for your website. If you use my exact image source, you might get an error, since my images are in my root website folder.

<h3 id="neighborhood">My neighborhood</h3>

<div id="siteButtonsSection">
    <a href="https://rachychel.neocities.org/" target="_top"><img src="https://rachychel.neocities.org/buttons/rachychel.gif" alt="rachychel's site button, a pixel art pink mushroom with a happy smile, animating side to side"></a>
</div>