<p>My button

<a href="https://bloomzeye.github.io/" target="_blank"><img src="/images/siteButtons/bloomzeyeSiteButtonAnimated.gif" alt="Bloomzye's site button"></a>

{% highlight html %}
    <a href="https://bloomzeye.github.io/" target="_blank">
    <img src="https://bloomzeye.github.io/images/siteButtons/bloomzeyeSiteButtonAnimated.gif" alt="Bloomzye's site button"></a>
{% endhighlight %}

<h3 id="neighborhood">My neighborhood</h3>

<div id="siteButtonsSection">
    <a href="https://rachychel.neocities.org/" target="_blank"><img src="https://rachychel.neocities.org/buttons/rachychel.gif" alt="rachychel's site button, a pixel art pink mushroom with a happy smile, animating side to side"></a>
    <a href="https://magzreview.nekoweb.org/" target="_blank"><img src="/images/siteButtons/magzreview.png" alt="magz review's site button"></a>

</div>

<br>

<h3><i>Issues and solutions you might run into with adding site buttons:</i></h3>
    <ul>
        <li><b>If there's no code with a site button:</b> Use the code above for mine, which is the basic image and link code.</li>
        <li><b>If the image/gif doesn't render:</b> You might need to save the image or gif of the site button to your device, and have the "img src" be directly from your website's image folder.</li>
    </ul>