/* ==========================================================================
   Page
   ========================================================================== */

// .main-content{
//   // margin: 5%;

//   // turn main into a flex and add an aside to my blog?
//   // display: flex;
//   // flex-flow: row wrap;
//   // justify-content: center;

  
// }

// .left-sidebar {
//   // padding: 0.5rem;
//   margin: 10%;
//   max-width: $main-sidebar-max-width;
//   border-radius: 15px;
//   border: 50px solid transparent;
//   border-image: url("/images/tiles/floralCircleBorder_48xp_tile_10x.png") 140 140 130 130 round;
//   background-color: #fff;	
//   border-image-outset: 33px;
//   }

  // @media (max-width: 1000px) {
  //   .main-content {
  //     flex-flow: row wrap;
  //     justify-content: center;
  //   }
  // }

  // @media (max-width: 600px) {
  //   .left-sidebar {
  //       flex: 50%;
  //     }
  //   }

#pageBanner1 {
  background-color: #9dc8f5;
  font-weight: bold;
  font-style: italic; 
  font-size: 0.75rem;
  text-align: center;
  align-content: center;
  padding: 5px;
}

#pageBanner2 {
  background-color: #fff;
  // font-weight: bold;
  font-style: italic; 
  font-size: 0.75rem;
  text-align: center;
  align-content: center;
  padding: 5px;
  border-bottom: 1px solid #000;
}



  .posts .pinned {
    border: 5px dotted #ff8181;
    background-color: #f9f9f9;
    padding: 35px;
    margin-bottom: 65px;
    margin-left: 15px;
    border-radius: 25px;
    // text-align: center;

    span , a {
      font-size: 1.5rem;
      font-weight: bold;
    }

  }

  .posts .svg-inline--fa {
    font-size: 4em;
    margin: 0 0 -140px -15px;
    color: #ff8181;
    rotate: 90deg;
  }
  

.page-wrapper {
  // margin: 0 auto;
  margin: 40px auto;
  padding-left: 1em;
  padding-right: 1em;
  // padding: 2rem;
  max-width: $main-sidebar-max-width;
  border-radius: 15px;
  border: 40px solid transparent;
  border-image: url("/images/tiles/floralCircleBorder_48xp_tile_10x.png") 140 140 130 130 round;
  background-color: #fff;	
  border-image-outset: 23px;
  

  // border-style: solid;
  // border-image-width: 10;

  // border-image-slice: 33% 33% 33% 33%;
  // border-image-width: 1.5em 1.5em 1.5em 1.5em;
  // border-image-outset: 0px 0px 0px 0px;
  // border-image-repeat: round round;
  // border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-2.png");
  // border-style: solid; 


  
}

.page-title {
  @include fluid-type($min-vw, $max-vw, 48px, 60px );
  margin: 0.5em 0 0.5em 0;
  font-family: $fun-font-1;
  text-align: center;
  // font-size: 2rem;
  word-wrap: break-word; /* break long words that could overflow */
  // font-family: $title-font-family;
  
  // font-weight: $page-title-weight;
  // font-style: italic;
  // letter-spacing: -2px;
}

.page-image {
  position: relative;
  text-align: center;
  // margin-top: (-1 * $site-logo-height) / 2;
  // margin-top: (-1 * $site-logo-height) * 2;
  margin-top: 20px;
  margin-bottom: 2em;
  z-index: 1;

  // @include breakpoint($medium) {
  //   margin-top: (-1.5 * $site-logo-height) / 2;
  // }

  // @include breakpoint($large) {
  //   margin-top: (-2 * $site-logo-height) / 2;
  // }

  img {
    width: 75%;
    // border-radius: 15px;
  }
}

.page-image-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 0.25em 0.5em;
  color: #fff;
  font-size: 0.75rem;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: 4px 0 0 0;

  > * {
    margin: 0;
    padding: 0;
  }

  a {
    color: #fff;
  }
}

.page-sidebar {
  font-size: 0.75rem;

  @include breakpoint($large) {
    text-align: center;
  }

  .page-date,
  .read-time {
    font-family: $meta-font-family;
    font-style: italic;
    white-space: nowrap;
  }

  .read-time {
    @include breakpoint($large) {
      display: block;
    }
  }

  .read-time + .page-date::before {
    content: "\2022";
    padding: 0 0.5em;

    @include breakpoint($large) {
      content: "";
      padding: 0;
    }
  }
}

.page-author {
  @include clearfix;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1em;

  @include breakpoint($large) {
    display: block;
  }
}

.page-taxonomies-title {
  display: inline;
  padding-right: 0.5em;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;

  @include breakpoint($large) {
    display: inline-block;
    margin: 1.5em 0 0.5em;
    padding: 0;
    font-size: 0.75rem;
    font-weight: normal;
    text-transform: uppercase;
  }
}

.page-taxonomies {
  display: inline;
  margin-right: 1em;
  padding: 0;
  list-style: none;

  @include breakpoint($large) {
    display: block;
    margin: 0 0 1.5em 0;
  }
}

.page-taxonomy {
  display: inline;
  background-color: #ff685452;
  border-radius: 17px;
  margin-right: 5px;
  padding: 5px;

  &:not(:last-child)::after {
    content: ", ";
  }
}

.page-share {
  margin-top: 2em;
  margin-bottom: 2em;
}

.page-comments {
  margin-bottom: 2em;
}

.page-pagination {
  margin: 2em 0 1em;
  clear: both;

  @include breakpoint($large) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-previous,
.page-next {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
}

.page-next {
  margin-top: 1em;

  @include breakpoint($large) {
    margin-top: 0;
    text-align: right;
  }
}

.page-pagination-label {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.page-pagination-title {
  margin: 0;
  padding: 0;
  font-family: $meta-font-family;
  font-size: 0.9rem;
  font-style: italic;
}

/*
   Wide Layout Overrides
   ========================================================================== */

.layout--home,
.layout--posts,
.layout--categories,
.layout--tags,
.layout--category,
.layout--tag,
.layout--collection,
.layout--search {
  .page-wrapper {
    max-width: $main-max-width;
  }

  .page-title {
    text-align: center;
  }
}

.layout--post {
  .page-wrapper {
    @include breakpoint($large) {
      display: grid;
      grid-column-gap: 3em;
      grid-row-gap: 0;
      grid-template-columns: 175px 1fr;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }

  .page-header {
    @include breakpoint($large) {
      grid-column: 1 / -1;
      clear: both; // needed for floated layout
      text-align: center;
    }
  }

  .page-sidebar {
    margin-bottom: 1em;

    @include breakpoint($large) {
      float: left; // display: grid fallback
      width: 18%; // display: grid fallback
    }

    @supports (display: grid) {
      width: auto;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .page-content {
    @include breakpoint($large) {
      float: right; // display: grid fallback
      width: 78%; // display: grid fallback
      min-width: 0;
    }

    @supports (display: grid) {
      width: auto;
      margin: 0;
    }
  }

  .page-share {
    // display: grid fallback
    clear: both;
  }
}

.page--wide {
  .page-wrapper {
    max-width: $main-sidebar-max-width;
  }
}

// about page styling


.aboutHeader{
  text-align: center;
  font-weight: bold;
}

.aboutSubHeader{
  font-family: $fun-font-1;
  text-align: center;
}

.aboutImage{
  border-radius: 25px;
  width: 50%;
  // margin: auto;
}

.links {
  // ul { list-style: none; }
  a { font-weight: bold; }
}

// .aboutBMC img{
//   width: 30%;
// }

#siteButtonsSection img{
  margin-bottom: 5px;
}



