---
layout: page 
---

<h1 class="aboutHeader">Welcome to:</h1>
<h2 class="aboutSubHeader">{{ site.title }}!</h2>

<div><img src="../images\avatars\bloomzPixelAvatar.png" class="aboutImage">
</div>

<br>
<br>

<p>Hi hi, I'm Bloomzeye! I'm a Black and Queer, nonbinary indie game developer, and I make cute and colorful pixel art!

<p>I'm refered to with They/Them pronouns, and I've been making video games ever since I drew that one really bad pixel art bee, and turned it into my first published indie video game back in 2021.

<hr>
<br>

<h3 class="aboutSubHeader">about my blog</h3>

<p>My goal of this blog is to document and experiemnt with my game dev and art, and grow stronger in my creative and writing skills.
    
<p>Since I'm ace/demi and a lesbain, I want to start making games about the power of friendship...and lesbains! In due time...<i>allll</i> in due time.

<P>I'm not the best at web development...so this blog is going to be a little wonky as I continue to fix the code...and break something right after. Probably. But hey! Started is better than perfect.

<p>Some of my hobbies are thrifting and park dates with the homies, teaching my younger siblings game dev, and crocheting or other fiber arts.

<hr>
<br>

<h3 class="aboutSubHeader">how to explore</h3>

<div class="links">
    <p>You can read all of my <a href="{% link posts.md %}">posts</a> here, or use <a href="{% link tags.md %}">tags</a> as another search option!</p>
</div>

<hr>
<br>

<h3 class="aboutSubHeader">find me on the interwbs!</h3>
<ul class="links" style="list-style: none;">
    <li><i class='fas fa-bug'></i> <a href="https://bsky.app/profile/bloomzeye.bsky.social">bluesky</a></li>
    <li><i class='fas fa-paint-brush'></i> <a href="https://bloomzeye.nekoweb.org/">portfolio website</a> - (eventually, I'll transfer my portfolio to my blog here!)</li>
    <li><i class='fas fa-gamepad'></i> <a href="https://bloomzeye.itch.io/">my games on itch.io</a></li>
    <li><i class='fas fa-moon'></i> <a href="https://www.pillowfort.social/bloomzeye">pillowfort</a></li>
    <li><i class='fab fa-tumblr'></i> <a href="https://bloomzeye.tumblr.com/">tumblr</a></li>
    <li><i class='fab fa-youtube'></i> <a href="https://www.youtube.com/@bloomzeyestudio">youtube</a></li>
</ul>

<hr>
<br>

<h3 class="aboutSubHeader">how you can support me</h3>

<p>Reading and sharing my blog is the best way to support me.
    
<p>You can also "buy me a boba" over at my Buy Me a Coffee page (a Patreon and Kofi alternative), so I can continue to take the steps needed to turn game development into a full-time possibility. 🌺 

<div class="aboutBMC">
    <a href="https://www.buymeacoffee.com/bloomzeye"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a boba drink&emoji=🍓&slug=bloomzeye&button_colour=5F7FFF&font_colour=ffffff&font_family=Comic&outline_colour=000000&coffee_colour=FFDD00" /></a>
 <p>If you want to support me through your coins and gain early-access rewards of games, playtesting, blog posts, and whatever else I'll come up with, check out my <a href="https://buymeacoffee.com/bloomzeye">Buy Me a Coffee Page!</a>   
</div>






