---
layout: page
---

<h2>Explore the indie web on my Site Buttons page!</h2>

<p>Here's mine to add to your own webpage!

<a href="https://bloomzeye.github.io/" target="_blank"><img src="/images/siteButtons/BloomzSiteButton-83x31.png" alt="Bloomzye's site button"></a>

<p>How to add site button:
<ol>
    <li><b>Rigt-click</b> and "save image as" to your device</li>
    <li><b>Copy</b> the code below</li>
    {% highlight html %}
    <a href="https://bloomzeye.github.io/" target="_blank">
    <img src="" alt="Bloomzye's site button"></a>
    {% endhighlight %}
    <li><b>Paste</b> the code wherever you want it on your site</li>
    <li>And you're done!</li>
</ol>

<br>
<br>

<h3>More site buttons< coming soon</h3>
